body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.heading {
  /* background: linear-gradient(45deg, rgb(228, 181, 189), rgb(125, 125, 228)); */
  backdrop-filter: blur(10px);
  font-size: 1.8rem;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid slategray;
}

.calculator {
  position: relative;
  display: grid;
  gap: 20px;
  /* background-color: black; */
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid slategray;
}

.calculator .value {
  grid-column: span 4;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid black;
}
.calculator span {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 10px;
  color: black;
  background-color: rgb(223, 217, 209);
  border-radius: 5px;
  border: 1px solid black;
}
.calculator span:active,
span:hover {
  background: linear-gradient(45deg, rgb(228, 181, 189), rgb(125, 125, 228));
  padding: 5px 10px;
}
.calculator span.clear {
  grid-column: span 2;
}

.calculator span:active {
  animation: appear 0.4s ease-in-out infinite;
}

@keyframes appear {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 0.1;
    opacity: 0.5;
  }
}
